* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    width: 100%;
    height: 1220px;
    display: flex;
    justify-content: center;
    background-color: #000;
   }
  
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: 1190px;
    height: 100px;
}
.navbar-left {
    display: flex;
    align-items: center;
    gap: 60px; 
  }
.brand-name{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 600;
    font-size: 25px;
    color:  #26BB74;
}
.nav-links{
    display: flex;
    list-style: none;
    gap: 55px;
}
.nav-links a{
    text-decoration: none;
    color: white;
    font-family: 'Inter' , sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.nav-button{
    padding: 15px 25px;
    font-family: 'Inter' , sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: white;
    border-radius: 8px;
    background-color: #26BB74;
    width: 145px;
    border: none;
}

@media (max-width: 1250px) {
    .navbar{
        max-width: 900px;
    }
}

@media (max-width: 1000px) {
    .navbar{
        max-width: 700px;
    }
}

@media (max-width: 790px) {
    .nav-links{
        display: none;
    }
    .navbar{
        max-width: 550px;
    }
}


@media (max-width: 600px) {
    .navbar{
        max-width: 400px;
    }
}
@media (max-width: 450px) {
    .navbar{
        max-width: 350px;
    }
}

@media (max-width: 550px) {
    .navbar{
        max-width: 300px;
    }
}
